.vscode/settings.json
code/fundamentals/lesson1/fund_less1_exer1/build
code/fundamentals/lesson2/fund_less2_exer1/build
code/fundamentals/lesson3/fund_less3_exer1/build
code/fundamentals/lesson4/fund_less4_exer1/build
code/fundamentals/lesson5/fund_less5_exer1/build
code/fundamentals/lesson6/fund_less6_exer1/build
code/fundamentals/lesson7/fund_less7_exer1/build
code/fundamentals/lesson8/fund_less8_exer1/build
code/fundamentals/lesson4/fund_less4_exer3_solution/build
code/fundamentals/lesson7/fund_less7_exer3_solution/build
code/fundamentals/lesson8/fund_less8_exer2/build
code/ble/lesson1/blefund_less1_exer1/build
code/ble/lesson2/blefund_less2_exer1/build
code/ble/lesson2/blefund_less2_exer2/build
code/ble/lesson2/blefund_less2_exer3/build
code/ble/lesson3/blefund_less3_exer1/build
code/ble/lesson4/blefund_less4_exer1/build
code/ble/lesson5/blefund_less5_exer1/build
code/ble/lesson6/blefund_less6_exer1/build
code/ble/lesson3/blefund_less3_exer2/build
code/ble/lesson4/blefund_less4_exer2/build
code/ble/lesson4/blefund_less4_exer3/build
code/ble/lesson5/blefund_less5_exer2/build
