.vscode/settings.json
code/lesson1/fund_less1_exer1/build
code/lesson2/fund_less2_exer1/build
code/lesson3/fund_less3_exer1/build
code/lesson4/fund_less4_exer1/build
code/lesson5/fund_less5_exer1/build
code/lesson6/fund_less6_exer1/build
code/lesson7/fund_less7_exer1/build
code/lesson8/fund_less8_exer1/build
code/lesson4/fund_less4_exer3_solution/build
code/lesson7/fund_less7_exer3_solution/build
code/lesson8/fund_less8_exer2/build
